@import "tailwindcss";

.button {
    @apply p-4 flex justify-center items-center cursor-pointer
}

.green-button {
    @apply bg-[var(--green-color)] text-[var(--dark-grey-color)] text-lg 
   border-[var(--green-color)] border transition-all
}

.green-button:hover:enabled {
    @apply bg-[var(--grey-color)] text-[var(--green-color)]
}

.button:disabled {
    @apply opacity-50 cursor-not-allowed
}


.copy-icon {
    @apply fill-[var(--white-color)] duration-200 cursor-pointer
}

.copy-button:hover .copy-icon {
    @apply fill-[var(--green-color)] duration-200
}