@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

#root {
  width: min(500px, 100%);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --green-color: #A4FFAF;
  --grey-color: #24232B;
  --dark-grey-color: #18171F;
  --black-color: #100F15;
  --white-color: white;
  --orange-color: #FBD36C;

  font-family: "Google Sans Code", monospace;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--white-color);
  background-color: var(--black-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

